#card{
    height: 300px;
}

.front{
    color: white;
    text-align: center;
    padding-top: 25%;
    height: 300px;
    background-color: gray;
}

.back{
    color: white;
    text-align: center;
    padding-top: 25%;
    height: 300px;
    background-color: gray;
}

body{
    margin-bottom: 400px;
}